<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.abc3355.abc_wms_system"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:// dokalab.asuscomm.com:50133/shoedb"/>
                <property name="username" value="3355abc"/>
                <property name="password" value="3355ab"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sql/userLogin/login-mapper.xml"/>
        <mapper resource="sql/userLogin/adduser-mapper.xml"/>
        <mapper resource="sql/product/product-mapper.xml"/>
        <mapper resource="sql/product/inventorypp-mapper.xml"/>
        <mapper resource="sql/product/storestatus-mapper.xml"/>
<!--        <mapper resource="sql/searchProduct/search-mapper.xml"/>-->
        <mapper resource="sql/orderProcess/order-process-mapper.xml"/>
        <mapper resource="sql/salesManager/salesManager-mapper.xml"/>
        <mapper resource="sql/searchProduct/Invsearch-mapper.xml"/>
        <mapper resource="sql/searchProduct/productsearch-mapper.xml"/>
        <mapper resource="sql/orderForm/orderform-mapper.xml"/>
    </mappers>
</configuration>