<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.salesManager.model.dao.SaleManagerSqlMapper">

    <resultMap id="orderResultMap" type="com.abc3355.abc_wms_system.salesManager.model.dto.SelectBranchOrderDTO">
        <id property= "orderNo" column="ORDER_NO"/>
        <result property="userNO" column="USER_NO"/>
        <result property="userName" column="WH_NAME"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="orderStatusName" column="ORDER_STATUS_NAME"/>
        <result property="orderDetail" column="ORDER_DETAIL"/>
        <result property="orderDate" column="ORDER_DATE"/>
    </resultMap>

    <resultMap id="allOrderResultMap" type="com.abc3355.abc_wms_system.salesManager.model.dto.OrderDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="userNo" column="USER_NO"/>
        <result property="userName" column="WH_NAME"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="orderStatusName" column="ORDER_STATUS_NAME"/>
        <result property="orderDetail" column="ORDER_DETAILS"/>
    </resultMap>

    <resultMap id="branchResultMap" type="com.abc3355.abc_wms_system.salesManager.model.dto.BranchDTO">
        <id property= "branchNo" column="WH_ID"/>
        <result property="branchName" column="WH_NAME"/>
    </resultMap>

    <resultMap id="productResultMap" type="com.abc3355.abc_wms_system.salesManager.model.dto.ProductDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="isExpire" column="IS_EXPIRE"/>
        <result property="colorName" column="COLOR_NAME"/>
        <result property="sizeName" column="SIZE_MM"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="productSaleResultMap" type="com.abc3355.abc_wms_system.salesManager.model.dto.SelectProductSaleDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="amount" column="AMOUNT"/>
        <result property="totalPrice" column="TOTAL"/>
    </resultMap>

    <!-- 가맹점별 주문 조회  -->
    <select id="selectByBranchAndDate" resultMap="orderResultMap">
        SELECT
        op.ORDER_NO
        , op.USER_NO
        , us.WH_NAME
        , op.ORDER_PRICE
        , os.ORDER_STATUS_NAME
        , op.ORDER_DETAIL
        , op.ORDER_DATE
        FROM order_product op
        JOIN order_status os ON op.ORDER_STATUS_NO = os.ORDER_STATUS_NO
        JOIN warehouse_inf us ON op.USER_NO = us.WH_ID
        WHERE op.USER_NO = #{ no }
        <if test="startDate != null and endDate != null">
            <!-- String 값을 date 포맷에 맞춤 -->
            AND ORDER_DATE BETWEEN date_format(#{startDate},'%Y-%m-%d %H:%i:%s') AND date_format(#{endDate},'%Y-%m-%d %H:%i:%s')
        </if>

    </select>

    <!--  전체 가맹점 번호와 이름 조회 -->
    <select id="getAllBranch" resultMap="branchResultMap">
        SELECT
        WH_ID , WH_NAME
        FROM warehouse_inf
    </select>
    <!--  전체 상품 번호와 이름 조회 -->
    <select id="getAllProduct" resultMap="productResultMap">
        SELECT
        pr.PRODUCT_NO,
        pr.PRODUCT_NAME,
        pr.PRODUCT_PRICE,
        pr.IS_EXPIRE,
        c.COLOR_NAME,
        CONCAT(s.SIZE_MM,'mm') SIZE_MM,
        cat.CATEGORY_NAME
        FROM product pr JOIN color c on pr.COLOR_NO = c.COLOR_NO
        join size s on pr.SIZE_NO = s.SIZE_NO
        join category cat on pr.CATEGORY_NO = cat.CATEGORY_NO
    </select>

    <!--  출고완료, 주문 확정 주문만 조회 -->
    <select id="selectAllOrder" resultMap="allOrderResultMap">
        SELECT
        a.ORDER_NO
        , a.USER_NO
        , wh.WH_NAME
        , a.ORDER_PRICE
        , os.ORDER_STATUS_NAME
        , a.ORDER_DETAIL
        , a.ORDER_DATE
        , GROUP_CONCAT(CONCAT_WS(' | ',
                CONCAT('상세주문번호 : ', OD_NO)
                ,CONCAT('상품 : ', c.PRODUCT_NAME)
                ,CONCAT('수량 : ', OD_AMOUNT))) AS ORDER_DETAILS
        FROM order_product a JOIN order_details b ON a.ORDER_NO = b.ORDER_NO
        JOIN product c ON b.PRODUCT_NO = c.PRODUCT_NO
        JOIN order_status os on os.ORDER_STATUS_NO = a.ORDER_STATUS_NO
        JOIN warehouse_inf wh ON a.ORDER_NO = wh.WH_ID
        WHERE a.ORDER_STATUS_NO IN (2,3)
        GROUP BY a.ORDER_NO
        ORDER BY a.ORDER_DATE DESC
    </select>
    <!--  출고완료 주문 중 상품별 출고량 조회 -->
    <select id="selectProductSale" resultMap="productSaleResultMap">
        SELECT
            pr.PRODUCT_NO,
            pr.PRODUCT_NAME,
            pr.PRODUCT_PRICE,
            SUM(od.OD_AMOUNT) AMOUNT,
            (pr.PRODUCT_PRICE * SUM(od.OD_AMOUNT)) TOTAL
        FROM product pr JOIN order_details od ON pr.PRODUCT_NO = od.PRODUCT_NO
        JOIN order_product op ON od.ORDER_NO = op.ORDER_NO
        <if test="no != 0">
            <where>
                pr.PRODUCT_NO = #{ no }
            </where>
        </if>
        GROUP BY pr.PRODUCT_NO
    </select>

</mapper>