<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.user.model.dao.UserInsert.AddUserMapper">
    <insert id="insertWarehouse" parameterType="com.abc3355.abc_wms_system.user.model.dto.UserAndWarehouseDTO" useGeneratedKeys="true" keyProperty="whId">
        INSERT INTO warehouse_inf (WH_NAME, WH_ADDRESS)
        VALUES (#{ whName }, #{ whAddress })
    </insert>

    <insert id="insertUser" parameterType="com.abc3355.abc_wms_system.user.model.dto.UserAndWarehouseDTO">
        INSERT INTO user (USER_ID, USER_PASSWORD, USER_TYPE, WH_ID)
        VALUES (#{userId}, #{userPassword}, #{userType}, #{whId})
    </insert>
</mapper>