<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.searchProduct.model.dao.InvNameMapper">

    <resultMap id="invetoryNameResultMap" type="com.abc3355.abc_wms_system.searchProduct.model.dto.InventoryDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="inventoryAmount" column="INVENTORY_AMOUNT"/>
        <result property="whId" column="WH_ID"/>
        <collection property="productDTO" ofType="com.abc3355.abc_wms_system.searchProduct.model.dto.SearchProductDTO">
            <id property="productNo" column="PRODUCT_NO"/>
            <result property="productName" column="PRODUCT_NAME"/>
            <result property="productPrice" column="PRODUCT_PRICE"/>
            <result property="isExpire" column="IS_EXPIRE"/>
        </collection>
    </resultMap>


    <select id="searchInventoryName" resultMap="invetoryNameResultMap">
        SELECT A.PRODUCT_NO
                , B.PRODUCT_NO
                , A.PRODUCT_NAME
                , B.INVENTORY_AMOUNT
                , A.PRODUCT_PRICE
                , A.IS_EXPIRE
                , A.CATEGORY_NO
        FROM product A
        JOIN inventory B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        WHERE B.WH_ID = 1
        AND A.PRODUCT_NAME LIKE CONCAT ('%',#{name},'%')
    </select>
</mapper>