<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.searchProduct.model.dao.ProductSearchMapper">

    <resultMap id="ProductSearchResultMap" type="com.abc3355.abc_wms_system.searchProduct.model.dto.ProductSearchDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="inventoryAmount" column="INVENTORY_AMOUNT"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="isExpire" column="IS_EXPIRE"/>
        <result property="colorNo" column="COLOR_NO"/>
        <result property="colorName" column="COLOR_NAME"/>
        <result property="categoryNo" column="CATEGORY_NO"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="sizeNo" column="SIZE_NO"/>
        <result property="sizeMm" column="SIZE_MM"/>
        <result property="whId" column="WH_ID"/>
    </resultMap>

    <select id="searchAllProduct" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        , A.CATEGORY_NO
        , B.CATEGORY_NAME
        , A.COLOR_NO
        , C.COLOR_NAME
        FROM product A
        JOIN category B ON (A.CATEGORY_NO = B.CATEGORY_NO)
        JOIN color C ON (A.COLOR_NO = C.COLOR_NO)
    </select>

    <select id="searchProductByColor" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        , A.COLOR_NO
        , B.COLOR_NAME
        FROM product A
        JOIN color B ON (A.COLOR_NO = B.COLOR_NO)
        WHERE B.COLOR_NAME LIKE CONCAT (#{color})
    </select>

    <select id="searchBySize" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        , A.SIZE_NO
        , B.SIZE_MM
        FROM product A
        JOIN size B ON (A.SIZE_NO = B.SIZE_NO)
        WHERE B.SIZE_MM = #{size}
    </select>

    <select id="searchByCategory" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        , A.CATEGORY_NO
        , B.CATEGORY_NAME
        FROM product A
        JOIN category B ON (A.CATEGORY_NO = B.CATEGORY_NO)
        WHERE B.CATEGORY_NAME LIKE CONCAT (#{category})
    </select>

    <select id="searchZeroProduct" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        , B.WH_ID
        , B.INVENTORY_AMOUNT
        FROM product A
        JOIN inventory B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        WHERE B.INVENTORY_AMOUNT = 0
    </select>

    <select id="searchByName" resultMap="ProductSearchResultMap">
        SELECT A.PRODUCT_NO
        , A.PRODUCT_NAME
        , A.PRODUCT_PRICE
        , A.IS_EXPIRE
        FROM product A
        WHERE A.PRODUCT_NAME LIKE CONCAT('%',#{name},'%')
    </select>

</mapper>