<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.searchProduct.model.dao.SearchMapper">

    <resultMap id="searchAllProductResultMap" type="com.abc3355.abc_wms_system.searchProduct.model.dto.SearchProductDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="isExpire" column="IS_EXPIRE"/>
        <collection property="categoryDTO" ofType="com.abc3355.abc_wms_system.searchProduct.model.dto.SearchCategoryDTO">
            <id property="categoryNo" column="CATEGORY_NO"/>
            <result property="categoryName" column="CATEGORY_NAME"/>
        </collection>
    </resultMap>

    <select id="searchAllProduct" resultMap="searchAllProductResultMap">
        SELECT A.PRODUCT_NO
                , A.PRODUCT_NAME
                , A.PRODUCT_PRICE
                , A.IS_EXPIRE
                , A.CATEGORY_NO
                , B.CATEGORY_NAME
        FROM product A
        JOIN category B ON (A.CATEGORY_NO = B.CATEGORY_NO)
    </select>
</mapper>