<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.searchProduct.model.dao.SizeMapper">

    <resultMap id="searchBySizeResultMap" type="com.abc3355.abc_wms_system.searchProduct.model.dto.SearchProductDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="isExpire" column="IS_EXPIRE"/>
        <collection property="sizeDTO" ofType="com.abc3355.abc_wms_system.searchProduct.model.dto.SearchSizeDTO">
            <id property="sizeNo" column="SIZE_NO"/>
            <result property="sizeMm" column="SIZE_MM"/>
        </collection>
    </resultMap>

    <select id="searchBySize" resultMap="searchBySizeResultMap">
        SELECT A.PRODUCT_NO
                , A.PRODUCT_NAME
                , A.PRODUCT_PRICE
                , A.IS_EXPIRE
                , A.SIZE_NO
                , B.SIZE_MM
        FROM product A
        JOIN size B ON (A.SIZE_NO = B.SIZE_NO)
        WHERE B.SIZE_MM = #{ size }
    </select>

</mapper>