<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.orderForm.model.dao.OrderFormMapper">


<!--    <resultMap id="priceResultMap" type="com.abc3355.abc_wms_system.orderForm.model.dto.OrderAllInfoDTO">-->
<!--    <id property="order_price" column="TOTAL"/>-->
<!--    </resultMap>-->

    <select id="getTotalOrderPrice" parameterType="com.abc3355.abc_wms_system.orderForm.model.dto.InputNoAndAmountDTO" resultType="_int">
        SELECT
        PRODUCT_PRICE * #{ amount } TOTAL
        FROM product
        WHERE PRODUCT_NO = #{ no }
    </select>

    <insert id="insertOrderByTotalPrice">
        INSERT INTO order_product(
        USER_NO
        ,ORDER_PRICE
        ,ORDER_STATUS_NO
        ,ORDER_DETAIL
        ,ORDER_DATE
        )
        VALUES(
        1,
        #{ totalOrderPrice },
        1,
        NULL,
        NOW()
        )
    </insert>

    <select id="getLastOrderNo" resultType="_int">
        SELECT
        ORDER_NO
        FROM
        order_product
        ORDER BY
        ORDER_NO DESC
        LIMIT
        1;
    </select>




    <insert id="insertOrderDetailAmount">
        INSERT INTO order_details
        (
        OD_AMOUNT
        ,ORDER_NO
        ,PRODUCT_NO
        )
        VALUES(
            #{ amount },
            #{ orderNo },
            #{ no }
        )
    </insert>







</mapper>