<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.orderForm.model.dao.OrderFormMapper">


    <select id="getTotalOrderPrice" parameterType="com.abc3355.abc_wms_system.orderForm.model.dto.InsertNoAndAmountDTO" resultType="_int">
        SELECT
        PRODUCT_PRICE * #{ amount } TOTAL
        FROM product
        WHERE PRODUCT_NO = #{ productNo }
    </select>


    <resultMap id="inventoryResultMap" type="com.abc3355.abc_wms_system.orderForm.model.dto.InventoryConditionDTO">
        <id property="productId" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productName" column ="PRODUCT_NAME"/>
        <result property="inventoryAmount" column ="INVENTORY_AMOUNT"/>
        <result property="productPrice" column ="PRODUCT_PRICE"/>
        <result property="ColorName" column ="COLOR_NAME"/>
        <result property="sizeMm" column ="SIZE_MM"/>
    </resultMap>

    <insert id="insertOrderProduct">
        INSERT INTO order_product(
        USER_NO
        ,ORDER_PRICE
        ,ORDER_STATUS_NO
        ,ORDER_DETAIL
        ,ORDER_DATE
        )
        VALUES(
        #{ userNo },
        #{ totalOrderPrice },
        1,
        NULL,
        NOW()
        )
    </insert>

    <select id="getLastOrderNo" resultType="_int">
        SELECT AUTO_INCREMENT
        FROM information_schema.tables
        WHERE table_name = 'order_product';
    </select>

    <insert id="insertOrderDetail">
        INSERT INTO order_details
        (
        OD_AMOUNT
        ,ORDER_NO
        ,PRODUCT_NO
        )
        VALUES(
            #{ amount },
            #{ orderNo },
            #{ productNo }
        )
    </insert>

    <select id="inventoryOrderForm" parameterType="com.abc3355.abc_wms_system.orderForm.model.dto.ProductInputDTO" resultMap="inventoryResultMap">
        SELECT  A.PRODUCT_NO
        , A.PRODUCT_NAME
        , B.INVENTORY_AMOUNT
        , A.PRODUCT_PRICE
        , D.COLOR_NAME
        , E.SIZE_MM
        , B.WH_ID
        , A.IS_EXPIRE
        FROM product A
        JOIN inventory B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        JOIN category C ON (A.CATEGORY_NO = C.CATEGORY_NO)
        JOIN color D ON (A.COLOR_NO = D.COLOR_NO)
        JOIN size E ON (A.SIZE_NO = E.SIZE_NO)
        WHERE B.WH_ID = 1
        AND A.PRODUCT_NAME LIKE CONCAT ('%',#{name},'%')
        AND A.IS_EXPIRE LIKE 'N'
    </select>



    <select id="getProductNo" parameterType="com.abc3355.abc_wms_system.orderForm.model.dto.ProductInputDTO" resultType="_int">
        SELECT
        A.PRODUCT_NO
        FROM product A
        JOIN inventory B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        JOIN category C ON (A.CATEGORY_NO = C.CATEGORY_NO)
        JOIN color D ON (A.COLOR_NO = D.COLOR_NO)
        JOIN size E ON (A.SIZE_NO = E.SIZE_NO)
        JOIN user F ON (B.WH_ID = F.WH_ID)
        WHERE A.PRODUCT_NAME LIKE CONCAT('%', #{ productName }, '%')
        AND D.COLOR_NAME LIKE CONCAT('%', #{ color }, '%')
        AND E.SIZE_MM = #{ size }
        LIMIT 1;
    </select>

    <select id="getMaxAmount" parameterType="com.abc3355.abc_wms_system.orderForm.model.dto.ProductInputDTO" resultType="_int">
        SELECT
        B.INVENTORY_AMOUNT
        FROM product A
        JOIN inventory B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        JOIN category C ON (A.CATEGORY_NO = C.CATEGORY_NO)
        JOIN color D ON (A.COLOR_NO = D.COLOR_NO)
        JOIN size E ON (A.SIZE_NO = E.SIZE_NO)
        JOIN user F ON (B.WH_ID = F.WH_ID)
        WHERE A.PRODUCT_NAME LIKE CONCAT('%', #{ productName }, '%')
        AND D.COLOR_NAME LIKE CONCAT('%', #{ color }, '%')
        AND E.SIZE_MM = #{ size }
        LIMIT 1;
    </select>



</mapper>