<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc3355.abc_wms_system.Product.model.dao.ProductMapper">

<!--
    창고
-->
    <select id="selectAll" resultType="int">
        select count(*) from product

    </select>

    <insert id="saveProduct" parameterType="com.abc3355.abc_wms_system.Product.model.dto.ProductSaveReqDto" useGeneratedKeys="true"
            keyProperty="productNo" keyColumn="product_no">
        INSERT INTO product (product_name, product_price, is_expire, color_no, size_no, category_no)
        VALUES (#{productName}, #{productPrice}, #{isExpire}, #{colorNo}, #{sizeNo}, #{categoryNo})
    </insert>

    <update id="updateProduct" parameterType="com.abc3355.abc_wms_system.Product.model.dto.ProductUpdateReqDto">
        update product
        set product_name = #{productName}, product_price = #{productPrice}, is_expire = #{isExpire}, color_no = #{colorNo}, size_no = #{sizeNo}, category_no = #{categoryNo}
        where product_no = #{productNo}
    </update>

    <delete id="deleteProduct">
        delete from product where product_no = #{productNo}
    </delete>

<!--    <select id="findByMenuCode" resultType="menuDTO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_menu-->
<!--        where-->
<!--        menu_code = #{menuCode}-->
<!--    </select>-->
<!--    <select id="findByCategoryCode" resultType="menuDTO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_menu-->
<!--        where-->
<!--        category_code = #{categoryCode}-->
<!--    </select>-->

<!--    &lt;!&ndash; 작성한 속성명은 필드이름이 아니다. private 필드라 직접 접근 불가 &ndash;&gt;-->
<!--    &lt;!&ndash; 실제로는 getter를 사용. getter의 get을 제외하고, 소문자로 시작하는 이름을 작성한 것이다. &ndash;&gt;-->
<!--    &lt;!&ndash; property 접근 방식. (OGNL 표준) &ndash;&gt;-->
<!--    &lt;!&ndash; useGeneratedKeys=true를 통해 auto_increment값을 가져온다. 전달된 객체 menuDto#menuCode에 대입 &ndash;&gt;-->
<!--    <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuCode">-->
<!--        insert into-->
<!--        tbl_menu-->
<!--        values (-->
<!--        null, #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}-->
<!--        )-->
<!--    </insert>-->

<!--    <update id="updateMenu">-->
<!--        update-->
<!--        tbl_menu-->
<!--        set-->
<!--        menu_name = #{menuName},-->
<!--        menu_price = #{menuPrice},-->
<!--        category_code = #{categoryCode},-->
<!--        orderable_status = #{orderableStatus}-->
<!--        where-->
<!--        menu_code = #{menuCode}-->
<!--    </update>-->

<!--    <select id="findAllCategory" resultType="categoryDTO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_category-->
<!--        where-->
<!--        ref_category_code is not null-->
<!--    </select>-->
<!--    <select id="findMenuOrderable" resultType="menuDTO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_menu-->
<!--        where-->
<!--        orderable_status = 'Y'-->
<!--    </select>-->
<!--    <select id="findMenuOrderableByCategoryCode" resultType="menuDTO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_menu-->
<!--        where-->
<!--        category_code = #{categoryCode}-->
<!--        and orderable_status = 'Y'-->
<!--    </select>-->


</mapper>